@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

* {
	margin: 0;
	padding: 0;
}

a {
	color: hsl(80, 24%, 52%);
	font-weight: bold;
}

a:visited {
	color: hsl(80, 24%, 60%);
}

a:hover {
	color: hsl(200, 24%, 52%);
}

body {
	margin: 0;
	padding: 0;
	background-color: hsl(33, 27%, 85%);
	color: hsl(0, 0%, 45%);
	font-family: 'Cormorant Garamond', Verdana, "游明朝", "Yu Mincho", YuMincho, serif;
	font-size: 14pt;
	line-height: 1.6;
}

body > header {
	display: block;
	padding-top: 14vh;
	height: 46vh;
	text-align: center;
	background-color: hsl(42, 23%, 51%);
	color: hsl(33, 27%, 85%);
	box-sizing: border-box;
}

main {
	display: block;
	width: 100%;
	margin: 0;
	box-sizing: border-box;
}

main > article > header {
	margin: 2rem;
}

main > article > section,
.content-wrap::before {
	background-image: url(yuzuyu.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

main > article > section {
	position: relative;
	box-sizing: border-box;
	margin-top: 1rem;
}
.content-wrap::before{
	content: "";
	position: absolute;
	background-clip: content-box;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	filter: blur(8px);
	box-sizing: border-box;
}
.content-wrap {
	position: relative;
	box-sizing: border-box;
}
.content-wrap::before, .content-wrap{
	padding: 4rem 2em 8em;
}

.content {
	padding: 2rem;
	z-index: 30;
	position: relative;
	margin: 0;
	box-sizing: border-box;
	border: solid 1px hsl(33, 27%, 85%);
	border-radius: 4px;
	background: hsla(33, 27%, 85%, 0.5);
}

blockquote {
	font-family: Verdana, "游ゴシック", "Yu Gothic", YuGothic, sans-serif;
	font-size: 86%;
	margin: 1rem 2rem;
	padding-left: 1em;
	box-sizing: border-box;
	border-style: solid;
	border-width: 0;
	border-left-width: 2px;
	border-color: hsl(320, 24%, 52%);
}

.quote-cite {
	margin-top: -1em;
	margin-bottom: 1em;
	text-align: right;
	font-style: italic;
}

.quote-cite::before {
	content: "--------------------------------------------------------";
	font-family: Verdana, sans-serif;
	letter-spacing: -0.2em;
	margin-right: 4px;
}

body > footer {
	margin: 0;
	font-size: 80%;
	width: 100%;
	background-color: hsl(33, 27%, 90%);
}

body > footer > .note {
	text-align: right;
	line-height: 1.4;
	padding-top: 20px;
	font-style: italic;
}

body > footer > dl {
	width: 80vw;
	display: table;
	margin: 0 auto;
	padding: 2rem 0;
}

body > footer > dl > dt,
body > footer > dl > dd {
	display: table-cell;
}
