.yuge {
	top: 100vh;
	position: fixed;
	background-color: transparent;
	border-radius: 50%;
	box-sizing: border-box;
}

@function bottom-yuge() {
	@return #{random(50)}vw -#{5 + random(50)}vh #{160 + random(50)}px lighten(black, random(10) + 90%);
}

.bottom-yuge {
	width: 40vw;
	height: 10vh;
	box-shadow: bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(),
							bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(),
							bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(),
							bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge(), bottom-yuge();
}

.bottom-yuge {
	animation-name: bottom-yuge-up;
	animation-duration: 8s;
}

@keyframes bottom-yuge-up {
	0% {
		opacity: 0;
		transform: translateY(60vh);
	}
	99%, 100% {
		opacity: 0.8;
		transform: translateY(0vh);
	}
}
